@model Projeto.WEB.Areas.AreaRestrita.Models.ClubR.CadastroViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AreaRestrita/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<link href="~/Content/CssCustom.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>

<script src="~/Scripts/ClubR/cadastro.js"></script>

<script src="~/Scripts/jQuery-Mask-Plugin-v1.7.7-0/jquery.mask.js"></script>

<h4>Cadastro Cliente ClubR</h4>
<hr />

<form id="cadastroClubR" enctype="multipart/form-data" method="post">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-1">
                <label>CODUN</label>
                <input type="text" id="txtCodun" class="form-control" name="codun" />
            </div>
            <div class="col-md-4">
                <label>Razao Social</label>
                <input type="text" id="txtRazaoSocial" class="form-control" name="razaoSocial" />
            </div>
            <div class="col-md-3">
                <label>Nome do Responsável</label>
                <input type="text" id="txtNomeResponsavel" class="form-control" name="nomeResponsavel" />
            </div>
            <div class="col-md-2">
                <label>CPF do Responsável</label>
                <input type="text" id="txtCpfResponsavel" class="form-control" name="cpfResponsavel" />
            </div>
            <div class="col-md-2">
                <label>Data Negociação</label>
                <div class='input-group'>
                    <input type="text" class="form-control date" id="txtDataNegociacao" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-md-2">
                <label>Modalidade</label>
                @Html.EnumDropDownListFor(m => m.ModalidadeClubR, "- Selecione -", new { Class = "form-control", id = "optModalidade" })
            </div>
            <div class="col-md-2">
                <label>Período</label>
                <select class="form-control" id="optPeriodo">
                    <option value="">-Selecione a Modalidade Primeiro-</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Data Inicio Contrato</label>
                <div class='input-group'>
                    <input type="text" class="form-control date" id="txtDataInicio" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Data Fim Contrato</label>
                <div class='input-group'>
                    <input type="text" class="form-control date" id="txtDataFim" readonly />
                </div>
            </div>
            <div class="col-md-2">
                <label>Média Mensal Histórica</label>
                <input type="text" class="form-control money" id="txtMediaHistorica" placeholder="Digite aqui" />
            </div>
            <div class="col-md-2">
                <label>Meta para o Período</label>
                <input type="text" class="form-control money" id="txtMetaPeriodo" placeholder="Digite aqui" />
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-md-2">
                <label>Crescimento Proposto</label>
                <input type="text" class="form-control" id="txtCrescimentoProposto" readonly />
            </div>
            <div class="col-md-2">
                <label>Prazo Pagamento</label>
                <select class="form-control" id="optPrazoPagamento">
                    <option>Normal</option>
                    <option>9 Vezes</option>
                    <option>30 Dias</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Desconto</label>
                <select class="form-control" id="optDesconto"></select>
            </div>
            <div class="col-md-2">
                <label>Rebate Percentual</label>
                <input type="text" class="form-control" id="txtRebatePercent" readonly />
            </div>
            <div class="col-md-2">
                <label>Rebate Valor</label>
                <input type="text" class="form-control" id="txtRebateValor" readonly />
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col-md-3">
                <label>Contrato Assinado</label>
                <input type="file" id="uplFile" class="form-control" name="contrato" />
            </div>
            <div class="col-md-4">
                <textarea id="txtObservacao" placeholder="Observação..." class="form-control"></textarea>
            </div>

            <div class="col-md-2">
                <input type="submit" value="Cadastrar" id="btnCadastrar" class="btn btn-primary" />
            </div>
        </div>

    </div>
</form>