@{
    ViewBag.Title = "index";
    Layout = "~/Areas/AreaRestrita/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro Cliente</title>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/Scripts/Cliente/Cadastro.js"></script>

</head>
<body class="container">

    <h4>Cadastro de Cliente</h4>
    <hr />

    <form id="myform">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-2">
                    <label>*Classe:</label>
                    <select id="optClasse" class="form-control" name="classe">
                        <option value="">- Selecione -</option>
                        <option>Ótica</option>
                        <option>Médico</option>
                        <option>Laboratório</option>
                        <option>Distribuidor</option>
                        <option>Funcionário</option>
                        <option>Particular</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label>*Representante</label>
                    <select id="optRepresentante" class="form-control" name="representante">
                        <option value="">- Selecione -</option>
                        <option value=1>Representante A</option>
                        <option value=2>Representante B</option>
                        <option value=3>Representante C</option>
                        <option value=4>Representante D</option>
                        <option value=5>Representante E</option>
                        <option value=6>Representante F</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label>*CNPJ</label>
                    <input type="text" class="form-control" id="txtCnpj" placeholder="Digite aqui" name="cnpj" />
                    <input type="button" id="btnConsultaCNPJ" class="btn btn-success btn-xs" value="Consultar pelo CNPJ" />
                </div>

                <div class="col-md-2">
                    <label>CODUN</label>
                    <input type="text" id="txtCodun" class="form-control" placeholder="Digite aqui" name="codun" />
                </div>
            </div>
            <hr />

            <div class="row" style="margin-top:15px">
                <div class="col-md-4">
                    <label>*Razão Social</label>
                    <input type="text" id="txtRazaoSocial" class="form-control" placeholder="Digite aqui" name="razaoSocial" />
                </div>
                <div class="col-md-4">
                    <label>Nome Fantasia</label>
                    <input type="text" id="txtNomeFantasia" class="form-control" placeholder="Digite aqui" />
                </div>
                <div class="col-md-2">
                    <label>*Inscrição Estadual</label>
                    <input type="text" id="txtInscEstadual" class="form-control" placeholder="Digite aqui" />
                </div>
                <div class="col-md-2">
                    <label>*Inscrição Municipal</label>
                    <input type="text" id="txtInscMunicipal" class="form-control" placeholder="Digite aqui" />
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="col-md-3">
                    <label>*Tipo Endereço</label>
                    <select id="optTipoEndereco" class="form-control">
                        <option value="">-Endereço Único-</option>
                        <option value=1>Cobrança</option>
                        <option value=2>Entrega Lentes</option>
                        <option value=3>Entrega Armaçoes</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">
                    <label>*Logradouro</label>
                    <input type="text" id="txtLogradouro" class="form-control" placeholder="Digite aqui" />
                </div>
                <div class="col-md-2">
                    <label>*Número</label>
                    <input type="text" id="txtNumero" class="form-control" placeholder="Digite aqui" />
                </div>
                <div class="col-md-2">
                    <label>Complemento</label>
                    <input type="text" id="txtComplemento" class="form-control" placeholder="Digite aqui" />
                </div>
                <div class="col-md-2">
                    <label>*Bairro</label>
                    <input type="text" id="txtBairro" class="form-control" placeholder="Digite aqui" />
                </div>
                <div class="col-md-2">
                    <label>*Munícipio</label>
                    <input type="text" id="txtMunicipio" class="form-control" placeholder="Digite aqui" />
                </div>
                <div class="col-md-1">
                    <label>*UF</label>
                    <input type="text" id="txtUF" class="form-control" placeholder="Digite aqui"/>
                </div>
            </div>

            <div class="row" style="margin-top:15px">
                <div class="col-md-2">
                    <label>*CEP</label>
                    <input type="text" id="txtCEP" class="form-control" placeholder="Digite aqui" />
                </div>
                <div class="col-md-3">
                    <label>E-mail</label>
                    <input type="email" id="txtEmail" class="form-control" placeholder="Digite aqui"/>
                </div>
                <div class="col-md-2">
                    <label>*Telefone1</label>
                    <input type="text" id="txtTelefone1" class="form-control" placeholder="Digite aqui" />
                </div>
                <div class="col-md-2">
                    <label>Telefone2</label>
                    <input type="text" id="txtTelefone2" class="form-control" placeholder="Digite aqui" />
                </div>
            </div>

            <div class="row" style="margin-top:15px">
                <div class="col-md-2">
                    <input type="submit" value="Cadastrar" id="btnCadastrar" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </form>    

</body>
</html>
