@model Projeto.WEB.Areas.AreaRestrita.Models.Cliente.ConsultaViewModel
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/AreaRestrita/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />

<link href="~/Content/CssCustom.css" rel="stylesheet" />

<script src="~/Scripts/Cliente/consulta.js"></script>


<h4>Consulta de Clientes</h4>
<hr />

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>CodCliente</label>
                        <input type="text" id="txtCodCliente" class="form-control" placeholder="Digite aqui" name="CodCliente" />
                    </div>
                    <div class="col-md-2">
                        <label>CODUN</label>
                        <input type="text" id="txtCodun" class="form-control" placeholder="Digite aqui" name="Codun" />
                    </div>
                    <div class="col-md-4">
                        <label>Razão Social</label>
                        <input type="text" id="txtRazaoSocial" class="form-control" placeholder="Digite aqui" name="RazaoSocial" />
                    </div>
                    <div class="col-md-4">
                        <label>Nome Fantasia</label>
                        <input type="text" id="txtNomeFantasia" class="form-control" placeholder="Digite aqui" />
                    </div>
                </div>

                <div class="row" style="margin-top:15px">
                    <div class="col-md-3">
                        <label>CNPJ</label>
                        <input type="text" class="form-control" id="txtCnpj" placeholder="Digite aqui" name="Cnpj" />
                    </div>

                    <div class="col-md-3">
                        <label>Representante</label>
                        @Html.DropDownListFor(m => m.IdRepresentante, Model.ListagemRepresentante, "- Selecione -", new { Class = "form-control", id = "optRepresentante" })
                    </div>

                    <div class="col-md-2">
                        <label>Data Inicio</label>
                        <div class='input-group'>
                            <input type="text" class="form-control date" id="txtDataInicio" name="DataInicio" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label>Data Fim</label>
                        <div class='input-group'>
                            <input type="text" class="form-control date" id="txtDataFim" name="DataFim" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <input type="submit" value="Consultar" id="btnConsultar" class="btn btn-primary" style="margin-top:25px" />
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="table-responsive">
            <table id="tabela" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th width="5%">Cod Transação</th>
                        <th width="6%">Cod Cliente</th>
                        <th width="6%">Codun</th>
                        <th width="20%">Razao Social</th>
                        <th width="20%">Nome Fantasia</th>
                        <th width="8%">Classe</th>
                        <th width="15%">Representante</th>
                        <th width="20%">Operações</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



<div id="janelaDetalhes" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h3>Detalhes Cliente</h3>
            </div>
            <div class="modal-body">
                <strong>Data Cadastro: </strong><span id="detalhes_cliente_dataCadastro"></span> <br />
                <strong>Cod Cliente: </strong><span id="detalhes_codCliente"></span> <br />
                <strong>CODUN: </strong><span id="detalhes_codun"></span> <br />
                <strong>Razão Social: </strong><span id="detalhes_razaoSocial"></span> <br />
                <strong>Nome Fantasia: </strong><span id="detalhes_nomeFantasia"></span> <br />
                <strong>CNPJ: </strong><span id="detalhes_CNPJ"></span> <br />
                <strong>Inscrição Estadual: </strong><span id="detalhes_estadual"></span> <br />
                <strong>Inscrição Municipal: </strong><span id="detalhes_municipal"></span> <br />
                <strong>Classe: </strong><span id="detalhes_classe"></span> <br />
                <strong>Representante: </strong><span id="detalhes_representante"></span> <br />
                <br />

                <strong>Endereço Cadastro</strong><br />
                <strong>Data Cadastro: </strong><span id="detalhes_cadastro_dataCadastro"></span> <br />
                <strong>Logradouro: </strong><span id="detalhes_cadastro_logradouro"></span> <br />
                <strong>Número: </strong><span id="detalhes_cadastro_numero"></span> <br />
                <strong>Complemento: </strong><span id="detalhes_cadastro_complemento"></span> <br />
                <strong>Bairro: </strong><span id="detalhes_cadastro_bairro"></span> <br />
                <strong>Município: </strong><span id="detalhes_cadastro_municipio"></span> <br />
                <strong>UF: </strong><span id="detalhes_cadastro_uf"></span> <br />
                <strong>CEP: </strong><span id="detalhes_cadastro_cep"></span> <br />
                <strong>Telefone1: </strong><span id="detalhes_cadastro_telefone1"></span> <br />
                <strong>Telefone2: </strong><span id="detalhes_cadastro_telefone2"></span> <br />
                <strong>Email: </strong><span id="detalhes_cadastro_email"></span> <br />
                <br />

                <strong>Endereço Cobrança</strong><br />
                <strong>Data Cadastro: </strong><span id="detalhes_cobranca_dataCadastro"></span> <br />
                <strong>Logradouro: </strong><span id="detalhes_cobranca_logradouro"></span> <br />
                <strong>Número: </strong><span id="detalhes_cobranca_numero"></span> <br />
                <strong>Complemento: </strong><span id="detalhes_cobranca_complemento"></span> <br />
                <strong>Bairro: </strong><span id="detalhes_cobranca_bairro"></span> <br />
                <strong>Município: </strong><span id="detalhes_cobranca_municipio"></span> <br />
                <strong>UF: </strong><span id="detalhes_cobranca_uf"></span> <br />
                <strong>CEP: </strong><span id="detalhes_cobranca_cep"></span> <br />
                <strong>Telefone1: </strong><span id="detalhes_cobranca_telefone1"></span> <br />
                <strong>Telefone2: </strong><span id="detalhes_cobranca_telefone2"></span> <br />
                <strong>Email: </strong><span id="detalhes_cobranca_email"></span> <br />
                <br />

                <strong>Endereço Entrega</strong><br />
                <strong>Data Cadastro: </strong><span id="detalhes_entrega_dataCadastro"></span> <br />
                <strong>Logradouro: </strong><span id="detalhes_entrega_logradouro"></span> <br />
                <strong>Número: </strong><span id="detalhes_entrega_numero"></span> <br />
                <strong>Complemento: </strong><span id="detalhes_entrega_complemento"></span> <br />
                <strong>Bairro: </strong><span id="detalhes_entrega_bairro"></span> <br />
                <strong>Município: </strong><span id="detalhes_entrega_municipio"></span> <br />
                <strong>UF: </strong><span id="detalhes_entrega_uf"></span> <br />
                <strong>CEP: </strong><span id="detalhes_entrega_cep"></span> <br />
                <strong>Telefone1: </strong><span id="detalhes_entrega_telefone1"></span> <br />
                <strong>Telefone2: </strong><span id="detalhes_entrega_telefone2"></span> <br />
                <strong>Email: </strong><span id="detalhes_entrega_email"></span> <br />
            </div>

        </div>
    </div>
</div>
