@model Projeto.WEB.Areas.AreaRestrita.Models.Cliente.ConsultaViewModel
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/AreaRestrita/Views/_Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />

<link href="~/Content/CssCustom.css" rel="stylesheet" />

<script src="~/Scripts/Cliente/consulta.js"></script>


<h4>Consulta de Clientes</h4>
<hr />

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>CodCliente</label>
                        <input type="text" id="txtCodCliente" class="form-control" placeholder="Digite aqui" name="CodCliente" />
                    </div>
                    <div class="col-md-2">
                        <label>CODUN</label>
                        <input type="text" id="txtCodun" class="form-control" placeholder="Digite aqui" name="Codun" />
                    </div>
                    <div class="col-md-4">
                        <label>Razão Social</label>
                        <input type="text" id="txtRazaoSocial" class="form-control" placeholder="Digite aqui" name="RazaoSocial" />
                    </div>
                    <div class="col-md-4">
                        <label>Nome Fantasia</label>
                        <input type="text" id="txtNomeFantasia" class="form-control" placeholder="Digite aqui" />
                    </div>
                </div>

                <div class="row" style="margin-top:15px">
                    <div class="col-md-3">
                        <label>CNPJ</label>
                        <input type="text" class="form-control" id="txtCnpj" placeholder="Digite aqui" name="Cnpj" />
                    </div>

                    <div class="col-md-3">
                        <label>Representante</label>
                        @Html.DropDownListFor(m => m.IdAgente, Model.ListagemRepresentante, "- Selecione -", new { Class = "form-control", id = "optRepresentante" })
                    </div>

                    <div class="col-md-2">
                        <label>Data Inicio</label>
                        <div class='input-group'>
                            <input type="text" class="form-control date" id="txtDataInicio" name="DataInicio" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label>Data Fim</label>
                        <div class='input-group'>
                            <input type="text" class="form-control date" id="txtDataFim" name="DataFim" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <input type="submit" value="Consultar" id="btnConsultar" class="btn btn-primary" style="margin-top:25px" />
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="table-responsive">
            <table id="tabela" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th width="5%">Cod Transação</th>
                        <th width="6%">Cod Cliente</th>
                        <th width="6%">Codun</th>
                        <th width="20%">Razao Social</th>
                        <th width="20%">Nome Fantasia</th>
                        <th width="8%">Classe</th>
                        <th width="6%">Agente</th>
                        <th width="6%">Promotor</th>
                        <th width="23%">Operações</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>