@{
    ViewBag.Title = "index";
    Layout = "~/Areas/AreaRestrita/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Area Restrita</title>

</head>
<body class="container">
    <div>
    </div>
</body>
</html>
